Repository FastCampus-Mini5/BE_server, pull requests merged in 2023-08, with the labels that each got.

#2 프로젝트 초기화 및 공통 설정 파일들 작성
  admin/build.gradle
  admin/src/main/java/com/example/admin/AdminApplication.java
  admin/src/main/resources/application.yml
  admin/src/test/java/com/example/admin/AdminApplicationTests.java
  application/build.gradle
  application/src/main/java/com/example/application/Application.java
  application/src/main/resources/application.yml
  application/src/test/java/com/example/application/ApplicationTests.java
  core/build.gradle
  core/src/main/java/com/example/core/config/_security/PrincipalUserDetail.java
  core/src/main/java/com/example/core/config/_security/PrincipalUserDetailsService.java
  core/src/main/java/com/example/core/config/_security/SecurityConfig.java
  core/src/main/java/com/example/core/config/_security/jwt/JwtAuthenticationFilter.java
  core/src/main/java/com/example/core/config/_security/jwt/JwtTokenProvider.java
  core/src/main/java/com/example/core/enums/Reason.java
  core/src/main/java/com/example/core/enums/Status.java
  core/src/main/java/com/example/core/errors/ErrorMessage.java
  core/src/main/java/com/example/core/errors/GlobalExceptionHandler.java
  core/src/main/java/com/example/core/errors/GlobalValidationHandler.java
  core/src/main/java/com/example/core/errors/exception/Exception400.java
  core/src/main/java/com/example/core/errors/exception/Exception401.java
  core/src/main/java/com/example/core/errors/exception/Exception403.java
  core/src/main/java/com/example/core/errors/exception/Exception404.java
  core/src/main/java/com/example/core/errors/exception/Exception500.java
  core/src/main/java/com/example/core/model/schedule/Duty.java
  core/src/main/java/com/example/core/model/schedule/Vacation.java
  core/src/main/java/com/example/core/model/schedule/VacationInfo.java
  core/src/main/java/com/example/core/model/user/SignUp.java
  core/src/main/java/com/example/core/model/user/User.java
  core/src/main/java/com/example/core/repository/schedule/DutyRepository.java
  core/src/main/java/com/example/core/repository/schedule/VacationInfoRepository.java
  core/src/main/java/com/example/core/repository/schedule/VacationRepository.java
  core/src/main/java/com/example/core/repository/user/SignUpRepository.java
  core/src/main/java/com/example/core/repository/user/UserRepository.java
  core/src/main/java/com/example/core/util/ApiResponse.java
  core/src/main/java/com/example/core/util/FilterResponse.java
  core/src/main/resources/application.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Labels: develop, enhancement

#4 enums (Reason, Status) 패키지 위치 조정 완료
  core/src/main/java/com/example/core/enums/Status.java
  core/src/main/java/com/example/core/model/schedule/Duty.java
  core/src/main/java/com/example/core/model/schedule/Reason.java
  core/src/main/java/com/example/core/model/schedule/Status.java
  core/src/main/java/com/example/core/model/schedule/Vacation.java
Labels: fix

#10 암호화 기능 구현 완료
  core/src/main/java/com/example/core/config/_security/SecurityConfig.java
  core/src/main/java/com/example/core/config/_security/encryption/AESEncryption.java
  core/src/main/java/com/example/core/config/_security/encryption/Encryption.java
  core/src/main/java/com/example/core/errors/ErrorMessage.java
  core/src/main/java/com/example/core/errors/GlobalExceptionHandler.java
  core/src/main/java/com/example/core/errors/exception/DecryptException.java
  core/src/main/java/com/example/core/errors/exception/EncryptException.java
  core/src/main/resources/application.yml
Labels: develop, core

#8 [core] CustomException 미반영 부분 긴급 반영 완료
  core/src/main/java/com/example/core/errors/exception/EmptyDtoRequestException.java
  core/src/main/java/com/example/core/errors/exception/EmptyPagingDataRequestException.java
  core/src/main/java/com/example/core/errors/exception/ScheduleServiceException.java
  core/src/main/java/com/example/core/errors/exception/SignUpServiceException.java
  core/src/main/java/com/example/core/errors/exception/ValidStatusException.java
Labels: fix

#11 [core, application] JWT Token 생성시 secret-key 프로퍼티 위치가 잘못되어 발생하던 오류 수정 완료
  application/src/main/resources/application.yml
Labels: fix

#14 [application] 회원 가입 요청, 로그인, 중복 이메일 체크 API 구현 완료
  application/src/main/java/com/example/application/user/controller/UserController.java
  application/src/main/java/com/example/application/user/dto/UserRequest.java
  application/src/main/java/com/example/application/user/dto/UserResponse.java
  application/src/main/java/com/example/application/user/service/UserService.java
  application/src/test/java/com/example/application/user/service/UserServiceTest.java
Labels: enhancement, application

#18 유저 연차/당직 신청 및 취소 기능구현 완료
  application/src/main/java/com/example/application/schedule/duty/controller/DutyController.java
  application/src/main/java/com/example/application/schedule/duty/dto/DutyRequest.java
  application/src/main/java/com/example/application/schedule/duty/dto/DutyResponse.java
  application/src/main/java/com/example/application/schedule/duty/service/DutyService.java
  application/src/main/java/com/example/application/schedule/vacation/controller/VacationController.java
  application/src/main/java/com/example/application/schedule/vacation/dto/VacationRequest.java
  application/src/main/java/com/example/application/schedule/vacation/dto/VacationResponse.java
  application/src/main/java/com/example/application/schedule/vacation/service/VacationService.java
  application/src/test/java/com/example/application/DutyServiceTest.java
  application/src/test/java/com/example/application/VacationServiceTest.java
  core/src/main/java/com/example/core/errors/ErrorMessage.java
  core/src/main/java/com/example/core/errors/exception/Exception400.java
  core/src/main/java/com/example/core/model/schedule/VacationInfo.java
  core/src/main/java/com/example/core/repository/schedule/DutyRepository.java
  core/src/main/java/com/example/core/repository/schedule/VacationInfoRepository.java
  core/src/main/java/com/example/core/repository/schedule/VacationRepository.java
Labels: develop

#22 회원 가입 요청 승인 기능 구현 완료
  admin/src/main/java/com/example/admin/user/controller/SignUpController.java
  admin/src/main/java/com/example/admin/user/dto/SignUpRequest.java
  admin/src/main/java/com/example/admin/user/service/SignUpService.java
  admin/src/test/java/com/example/admin/user/service/SignUpServiceTest.java
  core/src/main/java/com/example/core/repository/user/SignUpRepository.java
Labels: develop, admin

#26 관리자 연차/당직 신청 승인 기능 구현 완료
  admin/src/main/java/com/example/admin/schedule/duty/controller/DutyController.java
  admin/src/main/java/com/example/admin/schedule/duty/dto/DutyRequest.java
  admin/src/main/java/com/example/admin/schedule/duty/dto/DutyResponse.java
  admin/src/main/java/com/example/admin/schedule/duty/service/DutyService.java
  admin/src/main/java/com/example/admin/schedule/vacation/controller/VacationController.java
  admin/src/main/java/com/example/admin/schedule/vacation/dto/VacationRequest.java
  admin/src/main/java/com/example/admin/schedule/vacation/dto/VacationResponse.java
  admin/src/main/java/com/example/admin/schedule/vacation/service/VacationService.java
  admin/src/test/java/com/example/admin/schedule/vacation/service/VacationServiceTest.java
  core/src/main/java/com/example/core/model/schedule/VacationInfo.java
  core/src/main/java/com/example/core/repository/schedule/VacationInfoRepository.java
Labels: develop, admin

#28 회원 가입 요청 리스트 조회 기능 구현 완료
  admin/src/main/java/com/example/admin/user/controller/UserController.java
  admin/src/main/java/com/example/admin/user/dto/UserResponse.java
  admin/src/main/java/com/example/admin/user/service/UserService.java
  admin/src/test/java/com/example/admin/user/service/UserServiceTest.java
Labels: develop, admin

#38 회원 가입 요청 리스트 조회 기능 구현 완료
  admin/src/main/java/com/example/admin/user/controller/SignUpController.java
  admin/src/main/java/com/example/admin/user/dto/SignUpResponse.java
  admin/src/main/java/com/example/admin/user/service/SignUpService.java
  admin/src/test/java/com/example/admin/user/service/SignUpServiceTest.java
Labels: develop, admin

#39 관리자 연차/당직 상태별 리스트 조회 기능 구현 완료
  admin/src/main/java/com/example/admin/schedule/duty/controller/DutyController.java
  admin/src/main/java/com/example/admin/schedule/duty/service/DutyService.java
  admin/src/main/java/com/example/admin/schedule/vacation/controller/VacationController.java
  admin/src/main/java/com/example/admin/schedule/vacation/service/VacationService.java
  admin/src/test/java/com/example/admin/schedule/duty/service/DutyServiceTest.java
  admin/src/test/java/com/example/admin/schedule/vacation/service/VacationServiceTest.java
  core/src/main/java/com/example/core/repository/schedule/DutyRepository.java
  core/src/main/java/com/example/core/repository/schedule/VacationRepository.java
Labels: develop, admin

#43 로그 테이블 엔티티 구현 완료
  core/src/main/java/com/example/core/model/serverLog/ServerLog.java
Labels: develop, core

#44 [application] 유저 상세 정보 조회 및 변경 기능 구현 완료
  application/src/main/java/com/example/application/user/controller/UserController.java
  application/src/main/java/com/example/application/user/dto/UserRequest.java
  application/src/main/java/com/example/application/user/dto/UserResponse.java
  application/src/main/java/com/example/application/user/service/UserService.java
  application/src/test/java/com/example/application/user/service/UserServiceTest.java
  core/src/main/java/com/example/core/model/user/User.java
Labels: develop, application

#45 암호화 더미데이터 구현 완료
  admin/src/main/resources/application.yml
  admin/src/main/resources/test/data.sql
  application/src/main/resources/application.yml
  application/src/main/resources/test/data.sql
  core/src/main/java/com/example/core/model/serverLog/ServerLog.java
Labels: documentation, core

#49 암호화 키를 각 모듈의 환경변수에 추가하여 오류 해결
  admin/src/main/resources/application.yml
  application/src/main/resources/application.yml
Labels: fix, application, admin

#54 로그인 기록 기능 구현 완료
  application/src/main/java/com/example/application/user/controller/UserController.java
  application/src/main/java/com/example/application/user/service/UserService.java
  core/src/main/java/com/example/core/model/serverLog/ServerLog.java
  core/src/main/java/com/example/core/repository/serverLog/ServerLogRepository.java
Labels: develop, application

#55 관리자 연차/당직 신청 리스트 조회 복호화 기능 구현 완료
  admin/src/main/java/com/example/admin/schedule/duty/dto/DutyResponse.java
  admin/src/main/java/com/example/admin/schedule/duty/service/DutyService.java
  admin/src/main/java/com/example/admin/schedule/vacation/dto/VacationResponse.java
  admin/src/main/java/com/example/admin/schedule/vacation/service/VacationService.java
  admin/src/test/java/com/example/admin/schedule/duty/service/DutyServiceTest.java
  admin/src/test/java/com/example/admin/schedule/vacation/service/VacationServiceTest.java
Labels: develop, admin

#57 관리자 사용자 도메인 암호화 및 복호화 적용
  admin/src/main/java/com/example/admin/user/dto/SignUpResponse.java
  admin/src/main/java/com/example/admin/user/dto/UserResponse.java
  admin/src/main/java/com/example/admin/user/service/SignUpService.java
  admin/src/main/java/com/example/admin/user/service/UserService.java
  admin/src/test/java/com/example/admin/user/service/SignUpServiceTest.java
  admin/src/test/java/com/example/admin/user/service/UserServiceTest.java
Labels: develop, enhancement, admin

#47 유저 연차/당직 리스트 조회 기능구현
  application/src/main/java/com/example/application/schedule/duty/controller/DutyController.java
  application/src/main/java/com/example/application/schedule/duty/dto/DutyResponse.java
  application/src/main/java/com/example/application/schedule/duty/service/DutyService.java
  application/src/main/java/com/example/application/schedule/vacation/controller/VacationController.java
  application/src/main/java/com/example/application/schedule/vacation/dto/VacationResponse.java
  application/src/main/java/com/example/application/schedule/vacation/service/VacationService.java
  application/src/test/java/com/example/application/DutyServiceTest.java
  application/src/test/java/com/example/application/VacationServiceTest.java
  core/src/main/java/com/example/core/model/schedule/Vacation.java
  core/src/main/java/com/example/core/repository/schedule/DutyRepository.java
  core/src/main/java/com/example/core/repository/schedule/VacationRepository.java
Labels: develop

#59 UserRequest - DTO 에 빠져있던 어노테이션들 추가 완료
  application/src/main/java/com/example/application/user/dto/UserRequest.java
Labels: fix, application

#61 스웨거 라이브러리 적용 완료
  admin/build.gradle
  admin/src/main/java/com/example/admin/swagger/SwaggerConfig.java
  admin/src/main/resources/application.yml
  application/build.gradle
  application/src/main/java/com/example/application/swagger/SwaggerConfig.java
Labels: develop, application, admin

#63 비밀번호 찾기 기능 구현 완료
  application/build.gradle
  application/src/main/java/com/example/application/user/controller/UserController.java
  application/src/main/java/com/example/application/user/dto/UserRequest.java
  application/src/main/java/com/example/application/user/service/UserService.java
  application/src/main/java/com/example/application/utils/TempPasswordMailSender.java
  application/src/main/resources/application.yml
  application/src/test/java/com/example/application/user/service/UserServiceTest.java
  core/src/main/java/com/example/core/errors/ErrorMessage.java
  core/src/main/java/com/example/core/errors/exception/MailSendFailureException.java
  core/src/main/java/com/example/core/errors/exception/UserNotFoundException.java
Labels: develop, application

#66 SMTP 설정 데이터 삭제
  application/src/main/resources/application.yml
Labels: fix, application

#69 swagger 라이브러리 수정 완료
  admin/build.gradle
  admin/src/main/java/com/example/admin/swagger/SwaggerConfig.java
  admin/src/main/resources/application.yml
  application/build.gradle
  application/src/main/java/com/example/application/swagger/SwaggerConfig.java
  application/src/main/resources/application.yml
Labels: documentation, fix

#70 관리자 로그인 기능 구현
  admin/src/main/java/com/example/admin/user/controller/UserController.java
  admin/src/main/java/com/example/admin/user/dto/UserRequest.java
  admin/src/main/java/com/example/admin/user/dto/UserResponse.java
  admin/src/main/java/com/example/admin/user/service/UserService.java
  admin/src/main/resources/test/data.sql
  admin/src/test/java/com/example/admin/user/service/UserServiceTest.java
  core/src/main/java/com/example/core/config/_security/SecurityConfig.java
  core/src/main/java/com/example/core/errors/ErrorMessage.java
  core/src/main/java/com/example/core/errors/exception/AdminSignInException.java
  core/src/main/java/com/example/core/repository/user/UserRepository.java
Labels: develop, enhancement, admin

#71 민감 정보 - 시스템 환경 변수 등록해서 사용 완료
  .gitignore
  admin/src/main/resources/application-dev.yml
  admin/src/main/resources/application-prod.yml
  admin/src/main/resources/application-test.yml
  admin/src/main/resources/application.yml
  application/src/main/resources/application-dev.yml
  application/src/main/resources/application-prod.yml
  application/src/main/resources/application-test.yml
  application/src/main/resources/application.yml
  compose.yml
  core/build.gradle
Labels: core

#73 [admin, application] 동일 포트 공유로 인한 오류 방지를 위해 admin 포트 8081로 변경 완료
  admin/src/main/resources/application-dev.yml
  admin/src/main/resources/application-prod.yml
  admin/src/main/resources/application-test.yml
Labels: fix, application, admin

#75 application.yml - swagger 설정 삭제되어 있던 부분 복구 완료
  admin/src/main/resources/application-dev.yml
  admin/src/main/resources/application-prod.yml
  admin/src/main/resources/application-test.yml
  application/src/main/resources/application-dev.yml
  application/src/main/resources/application-prod.yml
  application/src/main/resources/application-test.yml
  core/src/main/resources/application.yml
Labels: fix

#77 환경설정에 하이버네이트 방언 설정 업데이트
  admin/src/main/resources/application-dev.yml
  admin/src/main/resources/application-prod.yml
  application/src/main/resources/application-dev.yml
  application/src/main/resources/application-prod.yml
Labels: enhancement, application, admin

#79 [application] 로그인 응답 변경 완료
  application/src/main/java/com/example/application/user/controller/UserController.java
Labels: enhancement, application

#87 [RE] 유저 연차/당직 리스트 status 추가 및 더미데이터 상태값 변경 완료
  application/src/main/java/com/example/application/schedule/duty/dto/DutyResponse.java
  application/src/main/java/com/example/application/schedule/vacation/dto/VacationResponse.java
  application/src/main/resources/test/data.sql
Labels: enhancement, application

#92 당직/연차 페이징 처리 삭제 완료
  application/src/main/java/com/example/application/schedule/duty/controller/DutyController.java
  application/src/main/java/com/example/application/schedule/duty/dto/DutyResponse.java
  application/src/main/java/com/example/application/schedule/duty/service/DutyService.java
  application/src/main/java/com/example/application/schedule/vacation/controller/VacationController.java
  application/src/main/java/com/example/application/schedule/vacation/service/VacationService.java
  core/src/main/java/com/example/core/repository/schedule/DutyRepository.java
  core/src/main/java/com/example/core/repository/schedule/VacationRepository.java
Labels: enhancement, application, core

#94 전체 연차 리스트 조회시 복호화 과정에서 status 값 빠져있던 부분 수정 완료
  application/src/main/java/com/example/application/schedule/vacation/dto/VacationResponse.java
Labels: fix

#95 관리자 유저, 회원가입 도메인 통합 테스트 구현
  admin/build.gradle
  admin/src/test/java/com/example/admin/user/SignUpIntegrationTest.java
  admin/src/test/java/com/example/admin/user/UserIntegrationTest.java
Labels: develop, admin

#97 유저 상세 정보 요청에 남은 연차 일수 함께 전달하도록 수정 완료
  application/src/main/java/com/example/application/user/dto/UserResponse.java
  application/src/main/java/com/example/application/user/service/UserService.java
Labels: enhancement, application

#99 #96 에서 커밋 누락으로 발생한 오류 해결
  core/src/main/java/com/example/core/repository/schedule/VacationInfoRepository.java
Labels: fix, application, core

#106 관리자 유저, 회원가입 도메인 통합 테스트 코드 수정
  admin/src/test/java/com/example/admin/user/SignUpIntegrationTest.java
  admin/src/test/java/com/example/admin/user/UserIntegrationTest.java
Labels: fix, admin

#112 [application] 로그인 로깅 서비스 분리 완료
  application/src/main/java/com/example/application/user/controller/UserController.java
  application/src/main/java/com/example/application/user/dto/UserRequest.java
  application/src/main/java/com/example/application/user/service/LoggingService.java
  application/src/main/java/com/example/application/user/service/UserService.java
  core/src/main/java/com/example/core/repository/user/UserRepository.java
Labels: enhancement, application

#115 전체 유저정보 출력 시 회원 가입을 승인한 유저 정보가 누락되는 현상 수정
  admin/src/main/java/com/example/admin/user/service/SignUpService.java
Labels: fix, admin

#113 관리자 연차/당직 통합 테스트 코드 구현
  admin/src/test/java/com/example/admin/schedule/DutyIntegrationTest.java
  admin/src/test/java/com/example/admin/schedule/VacationIntegrationTest.java
Labels: develop, admin

#118 [admin] 당직 승인 api url 변경 완료
  admin/src/main/java/com/example/admin/schedule/duty/controller/DutyController.java
Labels: fix, admin

#126 [admin] 연차/당직 승인 시 발생한 오류 수정 완료
  admin/src/main/java/com/example/admin/schedule/duty/dto/DutyResponse.java
  admin/src/main/java/com/example/admin/schedule/vacation/dto/VacationResponse.java
Labels: bug, admin

#128 UserService - 패스워드 암호화 적용 부분 오류 수정 완료
  application/src/main/java/com/example/application/user/service/UserService.java
Labels: fix, application

#132 전체 유효 더미데이터 수정 완료
  admin/src/main/resources/test/data.sql
  application/src/main/resources/test/data.sql
Labels: documentation, fix

#134 전체 더미데이터 기존 관리자 계정 추가 완료
  admin/src/main/resources/test/data.sql
  application/src/main/resources/test/data.sql
Labels: documentation, fix

#137 [application] 비밀번호 초기화 메일 발송 기능 리팩토링 완료
  application/src/main/java/com/example/application/user/controller/UserController.java
  application/src/main/java/com/example/application/user/dto/UserRequest.java
  application/src/main/java/com/example/application/user/service/MailService.java
  application/src/main/java/com/example/application/user/service/UserService.java
  core/src/main/java/com/example/core/errors/ErrorMessage.java
Labels: enhancement, application

#139 #90 에 언급되었던 CD 적용 확인을 위한 테스트 PR
  .github/workflows/deploy.yml
  appspec.yml
  scripts/gh_deploy.sh
Labels: develop

#141 appspec.yml -> 프로젝트 이름 제대로 수정
  appspec.yml
Labels: develop, enhancement

#143 [admin, application] plain jar 파일 생성되지 않도록 build.gradle 변경 완료
  admin/build.gradle
  application/build.gradle
Labels: fix, application, admin

#146 [core] User - profileImage @Lob 어노테이션 추가
  core/src/main/java/com/example/core/model/user/User.java
Labels: fix, core

#147 [core, application, admin] SecurityConfig - 로그인 / 비밀번호 초기화 이외에 모든 경로 인증 요구
  core/src/main/java/com/example/core/config/_security/SecurityConfig.java
Labels: enhancement, application, core, admin

#149 임시 비밀번호 발급 메일 양식 변경
  application/src/main/java/com/example/application/utils/TempPasswordMailSender.java
Labels: documentation, application

#152 chore: 워크플로우 Set up JDK 17 -> 11 로 변경
  .github/workflows/deploy.yml
Labels: develop

#159 [core] 이메일 중복 체크 API 인증 없이 접근 가능하도록 설정 변경
  core/src/main/java/com/example/core/config/_security/SecurityConfig.java
Labels: fix, core

#160 [admin] 연차/ 당직 더미데이터 변경으로 인한 테스트 코드 수정 완료
  admin/src/test/java/com/example/admin/schedule/DutyIntegrationTest.java
  admin/src/test/java/com/example/admin/schedule/VacationIntegrationTest.java
  admin/src/test/java/com/example/admin/schedule/vacation/service/VacationServiceTest.java
Labels: fix, admin

#156 [application] 연차/당직 코드 수정 완료
  application/src/main/java/com/example/application/schedule/duty/service/DutyService.java
  application/src/main/java/com/example/application/schedule/vacation/service/VacationService.java
  application/src/test/java/com/example/application/schedule/duty/service/DutyServiceTest.java
  application/src/test/java/com/example/application/schedule/vacation/service/VacationServiceTest.java
Labels: fix

#162 [core] 회원 가입 요청 - 인증 생략
  core/src/main/java/com/example/core/config/_security/SecurityConfig.java
Labels: fix, core

#167 static 필드에 @Autowired 어노테이션 사용으로 인한 문제 해결
  core/src/main/java/com/example/core/config/_security/encryption/AESEncryption.java
  core/src/main/java/com/example/core/config/_security/jwt/JwtTokenProvider.java
Labels: fix, core

#169 임시 비밀번호 발급 양식 재적용 완료
  application/src/main/java/com/example/application/user/service/MailService.java
Labels: fix, application
